.container{background-color:#00F;margin:10px auto;padding:10px;width:800px}
.child{background-color:#F00;color:#FFF;padding:10px;margin:10px;width:400px}
p{background-color:#080;color:#FFF;padding:10px;margin:10px;}
