*{margin:0px;padding:0px}
div{ background-color:blue;color:#FFF; }

.D1{margin:10px;/*<== 10px 10px 10px 10px*/   /* top  right  bottom  left  */}

.D2{margin:0px 20px 10px ;/*<== 0px 20px 10px 20px*/}

.D3{margin:0px 20px 10px 40px ;/*<== 0px 20px 10px 20px*/}

.D4{margin-right:500px;margin-left:500px;margin-top:100px;}

.D5{width:800px;margin:50px auto }

.D6{width:800px;margin:50px auto 0px 20px}
/*********************************************************************************/
.D7{
	background-color:red;width:300px;margin:10px auto;
	padding:20px;/*<== 20px 20px 20px 20px*/
}
.D8{
	background-color:red;width:300px;margin:10px auto; 
	padding:10px 20px;
}
.D9{
	background-color:red;width:300px;margin:10px auto; 
	padding-top:20px;
}
